<div class="container mt-5">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Products Name</th>
            <th scope="col">Price</th>
            <th scope="col">Images</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Áo Mixi</td>
            <td>250.000</td>
            <td></td>
            <td>
              <button class="btn btn-primary">Edit</button>
              <button class="btn btn-danger ">Delete</button>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Quần Mixi</td>
            <td>200.000</td>
            <td></td>
            <td>
              <button class="btn btn-primary">Edit</button>
              <button class="btn btn-danger ">Delete</button>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Áo hoodie</td>
            <td>400.000</td>
            <td></td>
            <td>
              <button class="btn btn-primary">Edit</button>
              <button class="btn btn-danger ">Delete</button>
          </tr>
        </tbody>
      </table>

</div>
