<div class="container">
        <h2>Add Title</h2>
        <form> <br>
            <div class="form-group">
                <label>Image</label> 
                <input type="file" class="form-control" name="image"[(ngModel)]= "title.image" >
            </div> <br>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" [(ngModel)]= "title.title">
              </div> <br>
              <div class="form-group">
                <label for="category">Category</label>
                <input type="text" class="form-control" name="categori" [(ngModel)]= "title.categori">
              </div><br>
              <div class="form-group">
                <label for="poster">Poster</label>
                <input type="text" class="form-control" name="poster" [(ngModel)]= "title.poster">
              </div><br>
              <div class="form-group">
                <label for="posting_date">Posting date</label>
                <input type="date" class="form-control" name="posting_date" [(ngModel)]= "title.date">
              </div><br>
            
            <button type="submit" class="btn btn-danger" (click)="addTitle()">Add</button>
        </form>
    </div>
    
    
    
    
    
    
