<div class="card">
    <div class="card-header">
        <h2 class="card-title">List Category</h2><br>
        <button class="btn btn-danger" (click)="addCategory()">Add Category</button>
        <br>
    </div>
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

            <table id="example1" class="table table-bordered table-striped dataTable dtr-inline collapsed"
                aria-describedby="example1_info">
                <thead>
                    <tr>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending">Category Name</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Platform(s): activate to sort column ascending">Image
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Hành động: activate to sort column ascending">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor=" let item of categori">
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.name}}
                        </td>
                        <td class="product-thumbnail">
                            <img src="{{item.image}}" alt="{{item.name}}" class="h-50 w-50">
                        </td>
                        <td>
                            <form action="" method="POST" class="edit-form" id="editForm">
                                <a href="../category-edit/{{item.id}}" type="submit" class="btn btn-primary m-2"><i
                                        class='fas fa-trash-alt'>Edit</i></a>
                            </form>
                            <form action="" method="POST" class="delete-form" id="deleteForm">
                                <button type="submit" name="delete" class="btn btn-danger m-2"><i
                                        class='fas fa-trash-alt' (click)="deleteCategory(item.id)">Delete</i></button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->