<table id="example1" class="table table-bordered table-striped dataTable dtr-inline">
    <thead>
        <tr>
            <th class="sorting sorting_asc">ID</th>
            <th class="sorting">Image</th>
            <th class="sorting">Title</th>
            <th class="sorting">Categori</th>
            <th class="sorting">Poster</th>
            <th class="sorting">Status</th>
            <th class="sorting">posting date</th>
            <th class="sorting">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td class="product-thumbnail">
                <img src="" alt="Product Image" class="h-50 w-50">
            </td>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque repudiandae saepe illum iste
                officia? Quibusdam non nemo enim reprehenderit voluptatem illo quisquam perspiciatis fuga deserunt
                molestiae tempore, sit laborum ab?</td>
            <td>Danh mục 1</td>
            <td>Nguyễn Văn A</td>
            <td>Hiển thị</td>
            <td>08/03/2024</td>
            <td>
                <form action="" method="POST" class="edit-form" id="editForm">
                    <button type="submit" name="edit" class="btn btn-primary m-2"><i
                            class='fas fa-trash-alt'>Edit</i></button>
                </form>
                <form action="" method="POST" class="delete-form" id="deleteForm">
                    <button type="submit" name="delete" class="btn btn-danger m-2"><i
                            class='fas fa-trash-alt'>Delete</i></button>
                </form>

            </td>
        </tr>
        <tr>
            <td>2</td>
            <td class="product-thumbnail">
                <img src="" alt="Product Image" class="h-50 w-50">
            </td>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque repudiandae saepe illum iste
                officia? Quibusdam non nemo enim reprehenderit voluptatem illo quisquam perspiciatis fuga deserunt
                molestiae tempore, sit laborum ab?</td>
            <td>Danh mục 2</td>
            <td>Nguyễn Văn B</td>
            <td>Hiển thị</td>
            <td>08/03/2024</td>
            <td>
                <form action="" method="POST" class="edit-form" id="editForm">
                    <button type="submit" name="edit" class="btn btn-primary m-2"><i
                            class='fas fa-trash-alt'>Edit</i></button>
                </form>
                <form action="" method="POST" class="delete-form" id="deleteForm">
                    <button type="submit" name="delete" class="btn btn-danger m-2"><i
                            class='fas fa-trash-alt'>Delete</i></button>
                </form>
            </td>
        </tr>
    </tbody>
</table>